@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">);
body{
    /* margin: 0px; */
    background-color:  hsl(47, 88%, 63%);
    width: 100vw;
    /* height: 100vh; */
    font-family:  "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 600px;
    height: 800px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 25px 25px 3px black;
    opacity:0.89;
}
img{
    width: 510px;
    padding: 43px;
    border-radius:15%;
}
button{
    width: 110px;
    height: 40px;
    margin-left: 40px;
    font-weight: 800;
    font-size: 16px;
    background-color:hsl(47, 88%, 63%);
}
h5{
    margin-left:40px;
    font-size: 18px;
    font-weight: 600;
}
h1{
    margin-left: 40px;
}
h1:hover{
    cursor: pointer;
    color:hsl(47, 88%, 63%) ;
}
p{
    margin-left: 40px;
    font-size: 26px;
    color: hsl(0, 0%, 50%);
    font-weight: 500;
}
#id{
    width: 60px;
    margin-top:-22px;
}
h4{
    font-weight: 800;
    font-size: 26px;
    /* text-align:left; */
    text-indent: -20px;
    /* background-color: blueviolet; */
}
#floo{
    display: inline-flex;
}
@media (max-width:650px) {
    .card{
        /* width: 200px; */
        
    }
}